<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{'gatd:static/css/bootstrap.css'|static_url}}" rel="stylesheet">
    <link href="{{'gatd:static/css/jquery.mobile.custom.structure.css'|static_url}}" rel="stylesheet">
    <link href="{{'gatd:static/css/jquery.mobile.custom.theme.css'|static_url}}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{'gatd:static/css/main.css'|static_url}}" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="{{'gatd:static/js/jquery.min.js'|static_url}}"></script>
    <script src="{{'gatd:static/js/smoothscroll.js'|static_url}}"></script>
    <script src="{{'gatd:static/js/jquery.mobile.custom.min.js'|static_url}}"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>GATD</b></a>
        </div>
        {% block nav %}{% endblock %}
      </div>
    </div>


	{% block body %}{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{'gatd:static/js/bootstrap.js'|static_url}}"></script>
  </body>
</html>
