<div id="block_{{ block.uuid }}_popup" class="block_popup" data-blockid="{{ block.uuid }}" data-role="popup">

  <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-btn-b ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all">Close</a>


  <h2>{{ block.name }}</h2>
  <p>{{ block.help }}</p>

  {% if 'parameters' in block %}
  <div class="block_popup_parameters">
    <h3>Parameters</h3>

    {% for param in block.parameters %}
    <div>
      {% if 'help' in param %}
      <span class="tooltipster fa fa-info" title="{{ param.help }}"></span>
      {% endif %}
      <span>{{ param.name }}:</span> {{ param.value }}
    </div>
    {% endfor %}

  </div>
  {% endif %}

  {% if 'settings' in block %}
  <div class="block_popup_settings">
    <h3>Settings</h3>
    <p>Configure this block.</p>

    <form class="form-horizontal">

    {% for setting in block.settings %}
      {% set type = setting.type|default('string') %}

      <div class="form-group">
        
        {% if 'help' in setting %}
        <div class="col-sm-1 control-label">
          <span class="tooltipster fa fa-info" title="{{ setting.help }}"></span>
        </div>
        {% endif %}

        <label for="block_{{ block.uuid }}_setting_{{ setting.key }}" class="col-sm-3 control-label">{{ setting.name }}</label>

        <div class="col-sm-8">

          {% if type == 'string' or type == 'int' %}
          <input type="text" class="form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}" {% if 'default' in setting %}value="{{ setting.default }}"{% endif %}>

          {% elif type == 'bool' %}
          <input type="checkbox" class="form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}">

          {% endif %}

        </div>

      </div>

    {% endfor %}

    </form>
    
  </div>
  {% endif %}

</div>