<div id="block_{{ block.uuid }}_popup" class="block_popup" data-blockid="{{ block.uuid }}" style="display:none;">

  <h2>{{ block.name }}</h2>
  <p>{{ block.help }}</p>

  {% if 'parameters' in block %}
  <div class="block_popup_parameters">
    <h3>Parameters</h3>

    {% for param in block.parameters %}
    <div>
      <span>{{ param.name }}:</span> {{ param.value }}
    </div>
    {% endfor %}

  </div>
  {% endif %}

  {% if 'settings' in block %}
  <div class="block_popup_settings">
    <h3>Settings</h3>
    <p>Configure this block.</p>

    <form class="form-horizontal">

    {% for setting in block.settings %}
      {% set type = setting.type|default('string') %}

      <div class="form-group">

        {% if type == 'string' or type == 'int' %}
        <label for="block_{{ block.uuid }}_setting_{{ setting.key }}" class="col-sm-2 control-label">{{ setting.name }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}">
        </div>

        {% elif type == 'bool' %}
        <label for="block_{{ block.uuid }}_setting_{{ setting.key }}" class="col-sm-2 control-label">{{ setting.name }}</label>
        <div class="col-sm-10">
          <input type="checkbox" class="form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}">
        </div>

        {% endif %}

      </div>

    {% endfor %}

    </form>
    
  </div>
  {% endif %}

</div>