<div id="{{ block.uuid }}" class="block" data-type="{{ block.type }}" data-source-group="{{ block.source_group or '' }}" data-target-group="{{ block.target_group or '' }}" data-target-group-max-conn="{{ block.target_group_max_conn or 0 }}" style="top:{{ block.top }}px; left:{{ block.left }}px;">

  {% if 'icon' in block %}
  <span class="fa fa-{{ block.icon }}">&nbsp;</span>
  {% endif %}

  {{ block.name }}

  {% if block.source_group %}
  <div class="source-group group-{{ block.source_group }}"></div>
  {% endif %}
  {% if block.target_group %}
  <div class="target-group group-{{ block.target_group }}"></div>
  {% endif %}

<!--   {% if 'parameters' in block %}
    {% for param in block.parameters %}
      <div class="parameter-save hidden" data-key="{{ param.key }}" data-value="{{ param.value }}"></div>
    {% endfor %}
  {% endif %} -->



  <div class="block_popup" data-title="{{ block.name }}" style="display:none;">

    <div class="block_popup_title">
      {{ block.name }}
      <button type="button" class="close fa fa-close fa-2x" data-popover-id="{{ block.uuid }}" aria-label="Close"></button>
    </div>

    <div class="block_popup_content">

      <div id="block_{{ block.uuid }}_popup" data-role="popup">

        <p>{{ block.help }}</p>

        {% if 'parameters' in block %}
        <div class="block_popup_parameters">
          <h3>Parameters</h3>

          {% for param in block.parameters %}
          {% if 'value' in param %}
            <div class="parameter" data-key="{{ param.key }}" data-value="{{ param.value }}">
              {% if 'help' in param %}
                <span class="tooltipster fa fa-info" title="{{ param.help }}"></span>
              {% endif %}
              {% if param.type|default('text') == 'link' %}
                <a href="{{ param.value }}" target="_blank">{{ param.name }}</a>
              {% else %}
                <span>{{ param.name }}:</span> {{ param.value }}
              {% endif %}
            </div>
          {% endif %}
          {% endfor %}

          {% if block.parameters|length == 0 %}
          Save the profile and refresh to see parameters.
          {% endif %}

        </div>
        {% endif %}

        {% if 'settings' in block %}
        <div class="block_popup_settings">
          <h3>Settings</h3>
          <p>Configure this block.</p>

          <form class="form-horizontal">

          {% for setting in block.settings %}
            {% set type = setting.type|default('string') %}

            <div class="form-group">

              {% if 'help' in setting %}
              <div class="col-sm-1 control-label">
                <span class="tooltipster fa fa-info" title="{{ setting.help }}"></span>
              </div>
              {% endif %}

              <label for="block_{{ block.uuid }}_setting_{{ setting.key }}" class="col-sm-3 control-label">{{ setting.name }}</label>

              <div class="col-sm-8">
                {% if 'value' in setting %}
                  {% set val = setting.value %}
                {% elif 'default' in setting %}
                  {% set val = setting.default %}
                {% else %}
                  {% set val = '' %}
                {% endif %}

                {% if type == 'string' or type == 'int' %}
                <input type="text" class="setting form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}" data-key="{{ setting.key}}" value="{{ val }}">

                {% elif type == 'bool' %}
                <input type="checkbox" class="setting" id="block_{{ block.uuid }}_setting_{{ setting.key }}" data-key="{{ setting.key}}">

                {% elif type == 'textarea' %}
                <textarea class="setting form-control" id="block_{{ block.uuid }}_setting_{{ setting.key }}" data-key="{{ setting.key}}">{{ val }}</textarea>

                {% endif %}

              </div>

            </div>

          {% endfor %}

          </form>

        </div>
        {% endif %}

      </div>

    </div>

  </div>

</div>