{% extends "base.jinja2" %}

{% block title %}
GATD - Editor
{% endblock %}

{% block body %}

    <link href="{{'gatd:static/css/gatd-editor.css'|static_url}}" rel="stylesheet">
  
<h1>Edit your data profile.</h1>

<div class="row">
  <div id="gatd-editor" class="col-lg-9">
  </div>
  <div id="gatd-editor-buttons" class="col-lg-3">

    <div class="btn-group-vertical" role="group">

      {% for button_group in block_buttons %}
      <!-- <h4>{{ button_group[0] }}</h4> -->

        <button class="btn btn-success">{{ button_group[0] }}</button>

        {% for button in button_group[1] %}
          <button type="button" class="gatd-editor-button btn btn-default" data-block="{{ button }}">Add {{ blocks[button]['name'] }}</button>
        {% endfor %}

      
      {% endfor %}

    </div>

    
  </div>
</div>


<script src="/static/js/dom.jsPlumb-1.7.2.js"></script>
<script src="/static/js/gatd-editor.js"></script>

{% endblock %}