{% extends "base.jinja2" %}

{% block title %}
GATD - Editor
{% endblock %}

{% block nav %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/profiles">Profiles</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block body %}

<link href="{{'gatd:static/css/bootstrap-editable.css'|static_url}}" rel="stylesheet">
<link href="{{'gatd:static/css/tooltipster.css'|static_url}}" rel="stylesheet">
<link href="{{'gatd:static/css/tooltipster-light.css'|static_url}}" rel="stylesheet">
<link href="{{'gatd:static/css/gatd-editor.css'|static_url}}" rel="stylesheet">

<div style="margin: 10px 50px 0 50px;">
  <div class="well well-sm">
    <div class="row">
      <div class="col-lg-5">
        <h1>Edit Profile: <span id="profile-name" data-placement="bottom" data-title="Enter a new profile name">{{ profile.name }}</span></h1>
      </div>

      <div class="col-lg-2 instructions" style="text-align:center;">
        <h3>Instructions</h3>
      </div>

      <div class="col-lg-5 instructions">
        <p>Add new blocks by clicking the buttons on the right.</p>
        <p>Move blocks by clicking and dragging them.</p>
        <p>Connect blocks by clicking and dragging arrows from the colored
        ends of the blocks.</p>
        <p>Double click blocks to edit them.</p>
      </div>

    </div>
  </div>

  <div class="row">
    <div id="gatd-editor" class="col-lg-10" data-profile-uuid="{{ profile.uuid }}">
      {{ profile_html|safe }}

      {% for connection in connections %}
      <span class="connection" data-src="{{ connection.source_uuid }}" data-tar="{{ connection.target_uuid }}"></span>
      {% endfor %}
    </div>
    <div id="gatd-editor-buttons" class="col-lg-2">


      <div class="btn-group-vertical" role="group">

      <button type="button" id="gatd-editor-save" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp; Save Profile
      </button>
      <button type="button" id="gatd-editor-upload" class="btn btn-primary">
        <span class="fa fa-cloud-upload"></span>&nbsp; Save and Execute
      </button>

        {% for button_group in block_buttons %}
        <!-- <h4>{{ button_group[0] }}</h4> -->

          <button class="btn btn-success">{{ button_group[0] }}</button>

          {% for button in button_group[1] %}
            <button type="button" class="gatd-editor-button btn btn-default" data-block="{{ button }}">Add {{ blocks[button]['name'] }}</button>
          {% endfor %}


        {% endfor %}

      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block bottom_includes %}

<script src="/static/js/bootstrap-editable.min.js"></script>
<script src="/static/js/jquery.tooltipster.min.js"></script>
<script src="/static/js/dom.jsPlumb-1.7.2.js"></script>
<script src="/static/js/gatd-editor.js"></script>

{% endblock %}