{% extends "base.jinja2" %}

{% block title %}
GATD: Profiles
{% endblock %}

{% block nav %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/profiles">Profiles</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block body %}


<div class="container">

	<div class="well">
		<h1>Welcome{% if user.name %} {{ user.name }}{% else %}, well, umm, we don't know your name...{% endif %}</h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Profiles
		</div>
		<div class="panel-body">
			{% for profile in profiles %}
			<a href="/editor/{{ profile.uuid }}" class="profile-button">
				<span class="fa fa-code-fork fa-3x fa-border fa-fw"></span>
				<span class="profile-name">{{ profile.name }}</span>
			</a>
			{% endfor %}
		</span>
	</a>


	<a class="btn btn-default btn-large" href="/profile/new">Create New Profile</a>

</div>

{% endblock %}