{% extends "base.jinja2" %}

{% block nav %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/profiles">Profiles</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block body %}

<h1>woah</h1>
<div class="container">
	{% for profile in profiles %}
	<a href="/editor/{{ profile.uuid }}">fdsafd {{ profile.name }}</a><br />
	{% endfor %}


	<a class="btn btn-default btn-large" href="/profile/new">Create New Profile</a>

</div>

{% endblock %}