#demo {
	margin-top:5em;
}

.w { 	
	padding:16px;
	padding-right:30px;
	padding-left:22px;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:14px;
	font-color:black;
	font-weight: bold;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.w:hover {
	background-color: #ccc;
	color:white;

}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#999;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.source-group {
	position:absolute;
	top:0;
	right: 0;
	width:0.8em;
	height:100%;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	cursor:pointer;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.target-group {
	position:absolute;
	top:0;
	left: 0;
	width:0.8em;
	height:100%;
	-moz-border-radius: 8px 0 0 8px;
	border-radius:8px 0 0 8px;
}

.group-a {
	background-color: #5696BC;
}

.group-b {
	background-color: #E04836;
}

.group-c {
	background-color: #F39D41;
}

.statemachine-demo ._jsPlumb_endpoint {
	z-index:3;
}

#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#inperson {
	left:12em;
	top:23em;
}
#phone2 {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
.dragHover { border:2px solid orange; }

path { cursor:pointer; }