[main]
profile_id: XXX
url: http://device.com/api/status.xml
frequency: 50 # time between samples (seconds)
unique_id: xxxXXX # identifying id to be passed along with packet, if necessary

[cron]
year:
month:
day:
week:
day_of_week:
hour:
minute:
second:
